<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test</title>
</head>
<body>
<form id="myForm">
  <input type="file" id="inpFile" name="file">
  <button type="submit">Send</button>
</form>

<script>
  const myForm = document.getElementById("myForm");
  const inpFile = document.getElementById("inpFile");

  myForm.addEventListener("submit", e =>{
    e.preventDefault();
    const endpoint = "/";
    const formData = new FormData();
    console.log(inpFile.files);
    formData.append("file", inpFile.files[0]);

    fetch(endpoint, {
        method: "post",
        body: formData
    }).catch(console.error)

  })
</script>
</body>
</html>